/*Added by Thangam*/
body {
    font-family: 'Lato', sans-serif;
    /*padding-bottom: 200px;*/
}
.h1,
h1 {
    font-size: 76px;
}
.h2,
h2 {
    font-weight: 900;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-family: inherit;
    font-weight: 900;
    line-height: 1.1;
}
thead tr {
    background-color: #9de0ff;
    display: flex;
    display: -webkit-flex; /* Safari */
}
.navbar_custom {
    margin-top: 25px;
    color: #e7560b;
}
.header_logo {
    padding: 10px;
}
.panel-success > .panel_custom {
    background-color: #ffdad7;
}
.panel-success > .panel_custom_2 {
    background-color: #c6eab0;
}
/*.panel_dwnld{height: 25px;left: 525px;position: absolute;top: 282px;}*/

.section_panel {
    margin-top: 44px;
}
.panel_custom2_col {
    /*top: 80px;*/
    
    margin-top: 81px;
}
.sub-log-title h1 {
    font-weight: 600;
}
.panel_custom2_col .panel-title,
.panel-success .panel-title {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.panel_custom2_col .panel-title a:hover,
.panel-success .panel-title a:hover {
    text-decoration: none;
}
.container_table {
    margin-top: 50px;
}
.dwnld_svg {
    float: right;
    height: 35px;
    width: 30px;
    padding: 0 0 15px;
}
.arrw_svg {
    float: right;
    /*height: 9px;
    width: 25px;*/
}
.middle .login_form{
    margin-right: 182px;
    text-align: left;
  }
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media only screen and (min-width: 1025px) and (max-width: 1920px) {
.middle{
/*width:65%;*/
margin:150px auto;
}
.min{
padding-right:70px;
}
.mxn{
padding-left:60px;
}
  }
 @media only screen and (max-width:1024px) and (min-width:300px) and (max-width:1920px) and (orientation:portrait){
 .middle{
/*width:80%;*/
margin:30px 30px;
}
 }   
.subbutton{
 background-color:#e8560d!important;
 color:#ffff;
 height: 40px;
 border-radius: 0 !important;
}
.login_field{height: 40px;border-radius: 0 !important;} 
.btn-social{text-align: center !important;border-radius: 0 !important;height: 40px;margin-top: 20px}
.forgot-password{color: #616161;margin-left: -15px;}
.row .social_icon{height: 39px;}
.info {
    background-color: #d9edf7 !important;
}
tr td {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
    /*text-align: center;*/
    color: #333333 !important;
}
ul {
    list-style-type: none;
}
li {
    /* float: right;*/
}
.table-borderless td,
.table-borderless th {
    border: 0;
}
.install_btn {
    background-color: #e8560d;
    float: right;
}
/***new style***/

.navbar-header .header_logo {
    padding: 10px 0;
}
.no-padding-left {
    padding-left: 0px!important;
}
.no-padding-right {
    padding-right: 0px!important;
}
.no-padding-bottom {
    padding-bottom: 0px!important;
}
.no-padding-top {
    padding-top: 0px!important;
}
.no-padding {
    padding: 0px!important;
}
.navbar-collapse .dropdown {
    float: right;
}
.envr li {
    margin-left: 8px;
    display: inline-block;
}
.envr li a {
    font-weight: 700;
    color: #000;
    display: inline-block;
    padding: 5px 8px;
    vertical-align: middle;
}
.envr li a:hover {
    text-decoration: none;
}
.envr {
    float: right;
    padding: 0 0 0 5px;
}
.box {
    border: 2px solid #000;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.sub-log-title a {
    text-decoration: none;
    color: #333;
}
.ezi-touch {
    overflow: hidden;
}
/***mobile-resptable style**/

.mobile-res-tab table th:first-child {
    padding-left: 15px;
}
.mobile-res-tab tr td {
    padding: 0px;
}
.mobile-res-tab .nav-pills .box {
    border: 1px solid #000;
}
.mobile-res-tab .nav-pills .box a {
    padding: 6px;
}
.mobile-res-tab .nav-pills .box a img {
    padding-right: 5px;
}
.mobile-res-tab .nav-pills .box:first-child {
    margin-right: 15px;
}
.sql ul {
    padding: 0px;
}
.section_panel .panel {
    margin-bottom: 8px;
}
.section_panel .panel-heading {
    padding: 17px 20px;
}
.table-striped .text-center {
    text-align: center;
    vertical-align: middle;
}
.mobile-res-tab .row {
    margin: 0px;
    font-size: 12px;
    font-weight: 700;
}
.mobile-res-tab a {
    color: #000;
}
.mobile-res-tab a:hover {
    color: #000;
    text-decoration: none;
}
.mobile-res-tab .topic-bg {
    background-color: #9de0ff;
    font-weight: 700;
    padding: 10px 15px;
}
.mobile-res-tab .row .link-ver {
    margin-right: 15px;
}
.mobile-res-tab .ezi-touch {
    border-bottom: 1px solid #9b9b9b;
    margin-top: 15px;
    padding-bottom: 18px;
}
.mobile-res-tab {
    display: none;
}
/****media query****/

@media (max-width: 768px) {
    .sub-log-title h1 {
        margin-top: 0px;
    }
    .ezi-touch {
        overflow: hidden;
        padding: 0px 15px;
    }
    .ezi-touch .col-sm-2 h4 {
        font-size: 17px!important;
    }
}
@media (max-width: 480px) {
    .container_table .col-xs-12 {
        padding: 0px;
    }
    .container_table {
        margin-top: 9px;
    }
    .panel_custom2_col {
        margin-top: 30px;
    }
    .mobile-res-tab {
        clear: both;
        display: block;
        overflow: hidden;
        /*padding: 0 15px;*/
    }
    .navbar-header .header_logo {
        padding: 7px 15px;
    }
    .navbar-toggle {
        border: none;
    }
    .sub-log-title .ezi_tool img {
        width: 100%;
    }
    .sub-log-title h1 a {
        color: #333333;
        font-size: 32px;
        font-weight: bold;
    }
    .sub-log-title h1 {
        font-size: 32px;
        font-weight: 900;
        margin-top: 0;
    }
    .sub-log-title {
        margin-bottom: 15px;
    }
    .section_panel {
        margin-top: 0px;
    }
    .ezi-touch {
        padding: 0 15px;
    }
    .mobile-res-tab table td:first-child {
        padding-left: 15px;
    }
    .mobile-res-tab table td:first-child {
        padding-right: 15px;
    }
    .envr {
        padding: 0px;
    }
    .table-responsive {
        border: none;
    }
    .table-striped {
        display: none;
    }
    .envr li {
        margin: 5px 0 0 0;
        display: block;
    }
    .envr {
        float: none;
    }
}
/* Added by Akila */

.install h2 {
    font-size: 22px;
    font-weight: bold;
}
#no-more-tables tr td {
    font-size: 16px;
    text-align: left;
    padding: 8px 8px 8px 0;
}
.prerequisites ul {
    padding: 0;
}
.prerequisites li {
    list-style-type: none;
    padding: 5px 0;
    font-size: 14px;
}
.prerequisites li img {
    margin: 0 5px 0 0;
}
.dwnld_holder {
    margin-top: 30px !important;
}
.dwnld_holder a {
    color: #333;
    font-size: 10px;
}
#btn_install .btn {
    border-radius: 0px !important;
    padding: 6px 35px !important;
    color: #fff;
}
.prerequisites {
    border-bottom: 1px solid #ccc;
}
p {
    text-align: justify;
}
.nopadding {
    padding: 0;
}
/* For Responsive Mode */

@media(max-width:767px) {
    .install h2 {
        font-size: 18px;
    }
    .install_btn {
        width: 100%;
        margin: 0 0 20px;
    }
    .dwnld_holder a {
        margin-left: 22%;
    }
}
table a{
    color: #333333;
}
/* Added by siva */
.mobile_country_section {
    position: relative;
    margin-top: 26px;
}
.mobile_number_p {
    padding-left: 14%; 
}
.country_code {
    background: #e8560d none repeat scroll 0 0;
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
    padding: 3% 1%;
    position: absolute;
    top: 0;
    width: 13%;
}

/* Added by siva */
/*.form-control {
    width: 90%;
}
*/
/*.margin_section::before {
    background: #000 none repeat scroll 0 0;
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    right: 10px;
    top: -10px;
    width: 2px;
}*/
.cb {
    clear: both;
}
@media(max-width: 767px) {
    .margin_section::before {
        display: none;
    }
    .form-control {
        width: 100%;
    }
    .table-responsive .comment{
        display: none !important;
    }
}

@media(min-width:767px){
   .table-responsive .comment_mob{
        display: none !important;
   }
}

/* For table inner Scroll- Added by Akila */
.release_notes{width: 10%;}
.release_date{width: 10%;}
tbody {
    min-height: 100px;
    max-height:150px;
    overflow-x: hidden;
    overflow-y: auto;
}
thead, tbody {
    display: block;
    width: 100%;
}
tbody tr td:nth-child(1){
    width: 35%;
}
tbody tr td:nth-child(2){
    width: 35%;
}
tbody tr td:nth-child(3), tbody tr td:nth-child(4){
    width: 10%;
}
tbody tr td:nth-child(5) {
    width: 10%;
    text-align: center;
}
.table-striped > tbody > tr{
    display: flex;
    display: -webkit-flex; /* Safari */
}
.touch_system {
    margin: 80px 50px;
}
.last_section{
    margin:0 50px;
}
.morelink, .less {
    color: #29aafe;
    float: right;
    font-style: italic;
    font-weight: bold;
}
.morelink:hover, .morelink:focus, .less:hover, .less:focus  {
    color: #29aafe;
}
.dropdown a:hover, .dropdown a:focus {
    color: #e7560b;
}
.ellip{
    display: none;
}
/*Ended*/